.infinite-target {
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image {
  height: 100%;
  width: 100%;
}
